# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
python_backend/venv/
python_backend/__pycache__/
python_backend/*.pyc
python_backend/vosk-model-*/
python_backend/voices/
python_backend/assets/assistant_avatar.png

# Node / Electron
electron_app/node_modules/
electron_app/build/
electron_app/dist/

# Flutter
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.metadata
flutter_app/.packages
flutter_app/build/
flutter_app/flutter_*.log
flutter_app/*.iml
flutter_app/ios/Flutter/Generated.xcconfig
flutter_app/ios/Flutter/flutter_export_environment.sh
flutter_app/android/app/src/main/res/drawable-*/
flutter_app/android/app/src/main/res/mipmap-*/
flutter_app/ios/Pods/
flutter_app/pubspec.lock

# Keys
.env
*.key
*.pem
