fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.2
duckduckgo-search==3.9.6
openai>=1.6.1
python-dotenv==1.0.0
gpt4all==2.5.1
python-multipart
vosk
psutil
trafilatura
beautifulsoup4
lxml
requests
sinlingua
SpeechRecognition==3.10.0
sounddevice==0.4.6
pyttsx3==2.90
langchain==0.0.350
langchain-openai==0.0.2
gTTS
elevenlabs
TTS
torch
google-search-results==2.4.2
sentence-transformers
numpy
scikit-learn
