absl-py==2.3.1
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyascii==0.3.3
anyio==3.7.1
async-timeout==4.0.3
attrs==26.1.0
audioread==3.1.0
babel==2.18.0
bangla==0.0.5
beautifulsoup4==4.14.3
blinker==1.9.0
blis==1.3.3
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
brotli==1.2.0
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
chardet==3.0.4
charset-normalizer==3.4.6
click==8.1.8
cloudpathlib==0.24.0
coloredlogs==15.0.1
confection==0.1.5
contourpy==1.2.1
coqpit==0.0.17
courlan==1.3.2
cryptography==46.0.7
cycler==0.12.1
cymem==2.0.13
Cython==3.2.8
dataclasses-json==0.6.7
dateparser==1.1.8
ddgs==9.8.0
decorator==5.3.1
diskcache==5.6.3
distro==1.9.0
docopt==0.6.2
duckduckgo-search==3.9.6
einops==0.8.2
elevenlabs==1.5.0
emoji==2.15.0
encodec==0.1.1
exceptiongroup==1.3.1
faiss-cpu==1.13.0
fastapi==0.104.1
filelock==3.19.1
Flask==3.1.3
flatbuffers==25.12.19
fonttools==4.60.2
frozenlist==1.8.0
fsspec==2025.10.0
fuzzywuzzy==0.18.0
g2pkk==0.1.2
gensim==4.3.1
google-api-core==2.30.3
google-api-python-client==2.194.0
google-auth==2.49.2
google-auth-httplib2==0.3.1
google-auth-oauthlib==1.3.1
google-search-results==2.4.2
googleapis-common-protos==1.74.0
googletrans==4.0.0rc1
gpt4all==2.5.1
grpcio==1.80.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.1
gruut-lang-en==2.0.1
gruut-lang-es==2.0.1
gruut-lang-fr==2.0.2
gTTS==2.5.4
h11==0.16.0
h2==3.2.0
hangul-romanize==0.1.0
hf-xet==1.4.3
hpack==3.0.0
hstspreload==2025.1.1
htmldate==1.9.4
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
ifaddr==0.2.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
inflect==7.5.0
itsdangerous==2.2.0
jamo==0.4.1
jedi==0.16.0
jieba==0.42.1
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==3.0.0
jusText==3.0.2
kiwisolver==1.4.7
langchain==0.0.350
langchain-community==0.0.20
langchain-core==0.1.23
langchain-openai==0.0.2
langsmith==0.0.87
lazy-loader==0.5
librosa==0.10.0
litert-lm-api==0.13.1
llama_cpp_python==0.3.25
llvmlite==0.43.0
lxml==6.0.2
lxml_html_clean==0.4.4
macholib==1.16.4
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.8.4
mdurl==0.1.2
ml_dtypes==0.5.4
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
murmurhash==1.0.15
mypy_extensions==1.1.0
networkx==2.8.8
nltk==3.9.2
num2words==0.5.14
numba==0.60.0
numpy==1.22.0
oauthlib==3.3.1
onnx==1.19.1
onnxruntime==1.19.2
openai==1.109.1
opencv-python-headless==4.11.0.86
packaging==23.2
pandas==1.5.3
parso==0.8.6
pillow==11.3.0
platformdirs==4.4.0
pooch==1.9.0
preshed==3.0.13
primp==0.15.0
propcache==0.4.1
proto-plus==1.27.2
protobuf==6.33.6
psutil==7.2.2
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.20.0
pygtrie==2.5.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pynndescent==0.6.0
pynput==1.8.2
pyobjc==11.1
pyobjc-core==11.1
pyobjc-framework-Accessibility==11.1
pyobjc-framework-Accounts==11.1
pyobjc-framework-AddressBook==11.1
pyobjc-framework-AdServices==11.1
pyobjc-framework-AdSupport==11.1
pyobjc-framework-AppleScriptKit==11.1
pyobjc-framework-AppleScriptObjC==11.1
pyobjc-framework-ApplicationServices==11.1
pyobjc-framework-AppTrackingTransparency==11.1
pyobjc-framework-AudioVideoBridging==11.1
pyobjc-framework-AuthenticationServices==11.1
pyobjc-framework-AutomaticAssessmentConfiguration==11.1
pyobjc-framework-Automator==11.1
pyobjc-framework-AVFoundation==11.1
pyobjc-framework-AVKit==11.1
pyobjc-framework-AVRouting==11.1
pyobjc-framework-BackgroundAssets==11.1
pyobjc-framework-BrowserEngineKit==11.1
pyobjc-framework-BusinessChat==11.1
pyobjc-framework-CalendarStore==11.1
pyobjc-framework-CallKit==11.1
pyobjc-framework-Carbon==11.1
pyobjc-framework-CFNetwork==11.1
pyobjc-framework-Cinematic==11.1
pyobjc-framework-ClassKit==11.1
pyobjc-framework-CloudKit==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-Collaboration==11.1
pyobjc-framework-ColorSync==11.1
pyobjc-framework-Contacts==11.1
pyobjc-framework-ContactsUI==11.1
pyobjc-framework-CoreAudio==11.1
pyobjc-framework-CoreAudioKit==11.1
pyobjc-framework-CoreBluetooth==11.1
pyobjc-framework-CoreData==11.1
pyobjc-framework-CoreHaptics==11.1
pyobjc-framework-CoreLocation==11.1
pyobjc-framework-CoreMedia==11.1
pyobjc-framework-CoreMediaIO==11.1
pyobjc-framework-CoreMIDI==11.1
pyobjc-framework-CoreML==11.1
pyobjc-framework-CoreMotion==11.1
pyobjc-framework-CoreServices==11.1
pyobjc-framework-CoreSpotlight==11.1
pyobjc-framework-CoreText==11.1
pyobjc-framework-CoreWLAN==11.1
pyobjc-framework-CryptoTokenKit==11.1
pyobjc-framework-DataDetection==11.1
pyobjc-framework-DeviceCheck==11.1
pyobjc-framework-DeviceDiscoveryExtension==11.1
pyobjc-framework-DictionaryServices==11.1
pyobjc-framework-DiscRecording==11.1
pyobjc-framework-DiscRecordingUI==11.1
pyobjc-framework-DiskArbitration==11.1
pyobjc-framework-DVDPlayback==11.1
pyobjc-framework-EventKit==11.1
pyobjc-framework-ExceptionHandling==11.1
pyobjc-framework-ExecutionPolicy==11.1
pyobjc-framework-ExtensionKit==11.1
pyobjc-framework-ExternalAccessory==11.1
pyobjc-framework-FileProvider==11.1
pyobjc-framework-FileProviderUI==11.1
pyobjc-framework-FinderSync==11.1
pyobjc-framework-FSEvents==11.1
pyobjc-framework-FSKit==11.1
pyobjc-framework-GameCenter==11.1
pyobjc-framework-GameController==11.1
pyobjc-framework-GameKit==11.1
pyobjc-framework-GameplayKit==11.1
pyobjc-framework-HealthKit==11.1
pyobjc-framework-ImageCaptureCore==11.1
pyobjc-framework-InputMethodKit==11.1
pyobjc-framework-InstallerPlugins==11.1
pyobjc-framework-InstantMessage==11.1
pyobjc-framework-Intents==11.1
pyobjc-framework-IntentsUI==11.1
pyobjc-framework-IOBluetooth==11.1
pyobjc-framework-IOBluetoothUI==11.1
pyobjc-framework-IOSurface==11.1
pyobjc-framework-iTunesLibrary==11.1
pyobjc-framework-KernelManagement==11.1
pyobjc-framework-LatentSemanticMapping==11.1
pyobjc-framework-LaunchServices==11.1
pyobjc-framework-libdispatch==11.1
pyobjc-framework-libxpc==11.1
pyobjc-framework-LinkPresentation==11.1
pyobjc-framework-LocalAuthentication==11.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.1
pyobjc-framework-MailKit==11.1
pyobjc-framework-MapKit==11.1
pyobjc-framework-MediaAccessibility==11.1
pyobjc-framework-MediaExtension==11.1
pyobjc-framework-MediaLibrary==11.1
pyobjc-framework-MediaPlayer==11.1
pyobjc-framework-MediaToolbox==11.1
pyobjc-framework-Metal==11.1
pyobjc-framework-MetalFX==11.1
pyobjc-framework-MetalKit==11.1
pyobjc-framework-MetalPerformanceShaders==11.1
pyobjc-framework-MetalPerformanceShadersGraph==11.1
pyobjc-framework-MetricKit==11.1
pyobjc-framework-MLCompute==11.1
pyobjc-framework-ModelIO==11.1
pyobjc-framework-MultipeerConnectivity==11.1
pyobjc-framework-NaturalLanguage==11.1
pyobjc-framework-NetFS==11.1
pyobjc-framework-Network==11.1
pyobjc-framework-NetworkExtension==11.1
pyobjc-framework-NotificationCenter==11.1
pyobjc-framework-OpenDirectory==11.1
pyobjc-framework-OSAKit==11.1
pyobjc-framework-OSLog==11.1
pyobjc-framework-PassKit==11.1
pyobjc-framework-PencilKit==11.1
pyobjc-framework-PHASE==11.1
pyobjc-framework-Photos==11.1
pyobjc-framework-PhotosUI==11.1
pyobjc-framework-PreferencePanes==11.1
pyobjc-framework-PushKit==11.1
pyobjc-framework-Quartz==11.1
pyobjc-framework-QuickLookThumbnailing==11.1
pyobjc-framework-ReplayKit==11.1
pyobjc-framework-SafariServices==11.1
pyobjc-framework-SafetyKit==11.1
pyobjc-framework-SceneKit==11.1
pyobjc-framework-ScreenCaptureKit==11.1
pyobjc-framework-ScreenSaver==11.1
pyobjc-framework-ScreenTime==11.1
pyobjc-framework-ScriptingBridge==11.1
pyobjc-framework-SearchKit==11.1
pyobjc-framework-Security==11.1
pyobjc-framework-SecurityFoundation==11.1
pyobjc-framework-SecurityInterface==11.1
pyobjc-framework-SecurityUI==11.1
pyobjc-framework-SensitiveContentAnalysis==11.1
pyobjc-framework-ServiceManagement==11.1
pyobjc-framework-SharedWithYou==11.1
pyobjc-framework-SharedWithYouCore==11.1
pyobjc-framework-ShazamKit==11.1
pyobjc-framework-Social==11.1
pyobjc-framework-SoundAnalysis==11.1
pyobjc-framework-Speech==11.1
pyobjc-framework-SpriteKit==11.1
pyobjc-framework-StoreKit==11.1
pyobjc-framework-Symbols==11.1
pyobjc-framework-SyncServices==11.1
pyobjc-framework-SystemConfiguration==11.1
pyobjc-framework-SystemExtensions==11.1
pyobjc-framework-ThreadNetwork==11.1
pyobjc-framework-UniformTypeIdentifiers==11.1
pyobjc-framework-UserNotifications==11.1
pyobjc-framework-UserNotificationsUI==11.1
pyobjc-framework-VideoSubscriberAccount==11.1
pyobjc-framework-VideoToolbox==11.1
pyobjc-framework-Virtualization==11.1
pyobjc-framework-Vision==11.1
pyobjc-framework-WebKit==11.1
pyparsing==3.3.2
pypinyin==0.55.0
pysbd==0.3.4
PySide6==6.10.3
PySide6_Addons==6.10.3
PySide6_Essentials==6.10.3
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-multipart==0.0.20
pyttsx3==2.90
pytz==2026.1.post1
PyYAML==6.0.3
qrcode==8.2
regex==2026.1.15
requests==2.31.0
requests-oauthlib==2.0.0
rfc3986==1.5.0
rich==15.0.0
safetensors==0.7.0
scikit-learn==1.6.1
scipy==1.11.4
sentence-transformers==2.7.0
shellingham==1.5.4
shiboken6==6.10.3
sinling==0.3.6
sinlingua==0.1.0
six==1.17.0
sklearn-crfsuite==0.5.0
smart_open==7.5.0
sniffio==1.3.1
socksio==1.0.0
sounddevice==0.4.6
soundfile==0.13.1
soupsieve==2.8.3
soxr==1.1.0
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.0
SQLAlchemy==2.0.48
srsly==2.5.3
srt==3.5.3
starlette==0.27.0
SudachiDict-core==20260428
SudachiPy==0.6.11
sympy==1.14.0
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.21.0
tensorboard-data-server==0.7.2
thinc==8.3.9
threadpoolctl==3.6.0
tiktoken==0.5.2
tld==0.13.2
tokenizers==0.15.2
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tqdm==4.67.3
trafilatura==2.0.0
trainer==0.0.36
transformers==4.39.3
TTS==0.22.0
typeguard==4.5.2
typer==0.23.2
typer-slim==0.23.2
typing-inspect==0.9.0
typing_extensions==4.15.0
tzlocal==5.3.1
umap-learn==0.5.7
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.24.0
vosk==0.3.44
wasabi==1.1.3
watchfiles==1.1.1
weasel==0.4.3
websockets==15.0.1
Werkzeug==3.1.8
wikipedia==1.4.0
wrapt==2.1.2
yarl==1.22.0
zeroconf==0.148.0
zipp==3.23.1
